.App {
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*===================================================================*/

body {
  background-color: #0A1929!important;
}

.login-image {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  background-image: linear-gradient(to right, rgba(10, 25, 41, 1), rgba(255,0,0,0)), 
  url('./images/loginImage.jpg');
}

h3 {
  color: rgb(243, 246, 249);
}

.form-label {
  color: rgb(243, 246, 249);
}

.form-input {
  background-color: rgb(0, 30, 60)!important;
  border: 1px solid rgb(30, 73, 118)!important;

  color: rgb(243, 246, 249)!important;
}


.width-fix {
  --bs-gutter-x: 0!important;
}

.home-container {
  margin: 10px;
}

.creds-container {
  margin: 50px;
}

.btn-main {
  background-color: rgb(0, 30, 60)!important;
  color: rgb(243, 246, 249)!important;
  border: 1px solid rgb(19, 47, 76)!important;
}

.btn-main:hover {
  background-color: rgb(19, 47, 76)!important;
  border-color: rgb(51, 153, 255)!important;
}

.btn-main:disabled {
  background-color: rgb(0, 17, 34)!important;
}

.btn-small {
  float:right;
  margin-top: 0.5rem;
  padding: 1px 5px 1px 5px!important;
  background-color: rgb(0, 30, 60)!important;
  color: rgb(243, 246, 249)!important;
  border: 1px solid rgb(19, 47, 76)!important;
}

.btn-small:hover {
  background-color: rgb(19, 47, 76)!important;
  border-color: rgb(51, 153, 255)!important;
}

.center {
  height: 100vh;
  padding: 25px 0; 
}

h1 {
  font-size: 30px!important;
}
p {
  color: rgb(243, 246, 249);
}

a {
  text-decoration: none!important;
  color: rgb(51, 153, 255)!important;
}

.error-message {
  color: rgb(255, 59, 59)!important;
  font-weight: bold;
  margin: 0!important;
}

.success-message {
  color: rgb(83, 233, 83)!important;
  font-weight: bold;
  margin: 0!important;
}

.info-message {
  color: rgb(51, 153, 255)!important;
  font-weight: bold;
}

.neonText {
  color: #fff;
  text-shadow:
      0 0 2px rgb(243, 246, 249),
      0 0 10px rgb(51, 153, 255)
  
}

.chat-container {
  float: left;
  position: relative;
}

.scrollable {
  overflow-y: scroll;
  word-wrap: break-word;
}

.history-container {
  height: 80vh;
}

.relations-container {
  float: right;
}

.relations-container, .chat-container {
  border: 1px solid rgb(19, 47, 76);
  border-radius: .25rem;
  height: 91vh;
  width: 99%;
  margin-top: 1vh;
}

.relations-container p {
  color: rgb(243, 246, 249);
  font-weight: bold;
}
.friend-list {
  width: 100%;
  height: 90%;
  float: left;
}



.btn-main {
  background-color: rgb(0, 30, 60)!important;
  color: rgb(243, 246, 249)!important;
  border: 1px solid rgb(19, 47, 76)!important;
}

.btn-main:hover {
  background-color: rgb(19, 47, 76)!important;
  border-color: rgb(51, 153, 255)!important;
}

.btn-main:active {
  background-color: rgb(51, 153, 255)!important;
  background-size: 100%!important;
  transition: background 0s!important;
}

button:focus {
  box-shadow: none !important;
}

.friends-btn {
  background-color: rgba(0, 30, 60, 0);
  color: rgb(243, 246, 249);
  border-radius: 0;
  width: 100%;
  text-align: left;
  border: none;
  padding: 0.4em;
  transition: 0.2s;
}

.friends-btn:focus {
  border: none;
  outline: none;
}

.friends-btn:hover {
  background-color: rgb(19, 47, 76);
}

.friends-container {
  height: 95%;
  margin: 5%;
}

.relations-container h1 {
  color: rgb(51, 153, 255);
  float: left;
}

.message-container {
  position: absolute;
  bottom: 3vh;
  width: 100%;
}

.btn-send {
  float: left;
  width: auto;
}

.btn-cancel {
  color: rgb(255, 59, 59)!important;
  border: 1px solid rgb(104, 0, 0)!important;
}

.btn-cancel:hover {
  border: 1px solid rgb(255, 59, 59)!important;
}

.btn-confirm {
  color: rgb(83, 233, 83)!important;
  border: 1px solid rgb(0, 126, 0)!important;
}

.btn-confirm:hover {
  border: 1px solid rgb(83, 233, 83)!important;
}

.textbox-main {
  background-color: rgb(0, 30, 60);
  border-radius: 0.25rem;
  border: 1px solid rgb(19, 47, 76);
  font-size: 1rem;
  padding: 0.375rem 0.75rem;
  color: rgb(243, 246, 249);
  transition: .15s;
}

.textbox-main:focus {
  outline: none;
  border-color: rgb(51, 153, 255);
}

.textbox-main:disabled {
  background-color: rgb(0, 17, 34);
  opacity: .65;
}

.message-box {
  width: 92%;
  margin: 0em 0.5em 0em 1em;
  float: left;
}


.logo {
  width: 15%;
}

.chat-msg {
  margin: 1em;
}

.field-title {
  margin-bottom: 0.5em!important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/*User Info Style*/
/*=================================================================*/
.user-info h1 {
  color: rgb(243, 246, 249);
  font-size: x-large!important;
}
/*=================================================================*/

/*Menus*/
/*=================================================================*/
.user-menu {
  position: fixed;
  transform: translate(min(var(--mouse-x), calc(100vw - 100%)), min(var(--mouse-y), calc(100vh - 100%)));
}
/*=================================================================*/

/*Friends/Groups*/
/*=================================================================*/
.unread-noti {
  float: right;
}
/*=================================================================*/

/*Table*/
/*==================================================================*/


.table th{
  color: rgb(243, 246, 249);
}

.table td {
  color: rgb(243, 246, 249);
  padding: 0.5em 0em 0.5em 0em;
}

.table>:not(:first-child) {
  border-top: 1px solid rgb(19, 47, 76)!important;
}


/*Modal*/
/*===================================================================*/
.modal-content {
  background-color: #0A1929!important;;
}

.modal-title, .modal-body h4 {
  color: rgb(243, 246, 249)!important;
}

.modal-footer {
  border: none!important;
}

.modal-header {
  border-bottom: 1px solid rgb(19, 47, 76)!important;
}

/*Scroll Bar*/
/*===================================================================*/
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(0, 0, 0); 
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(19, 47, 76); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(51, 153, 255); 
}
/*Chat Glowing*/
/*===================================================================*/
.glowing-btn {
  -webkit-animation: glowing 1300ms infinite;
  -moz-animation: glowing 1300ms infinite;
  -o-animation: glowing 1300ms infinite;
  animation: glowing 1300ms infinite;
}

@-webkit-keyframes glowing {
  0% {
    background-color: rgba(0, 30, 60, 0);
    -webkit-box-shadow: 0 0 3px rgba(0, 30, 60, 0);
  }
  50% {
    background-color: rgb(51, 153, 255);
    -webkit-box-shadow: 0 0 15px rgb(51, 153, 255);
  }
  100% {
    background-color: rgba(0, 30, 60, 0);
    -webkit-box-shadow: 0 0 3px rgba(0, 30, 60, 0);
  }
}
@keyframes glowing {
  0% {
    background-color: rgba(0, 30, 60, 0);
    box-shadow: 0 0 3px rgba(0, 30, 60, 0);
  }
  50% {
    background-color: rgb(51, 153, 255);
    box-shadow: 0 0 7px rgb(51, 153, 255);
  }
  100% {
    background-color: rgba(0, 30, 60, 0);
    box-shadow: 0 0 3px rgba(0, 30, 60, 0);
  }
}
/*Spinner*/
/*===================================================================*/
.loading {
  position: relative;
  width: 4rem;
  height: 4rem;
  transform-style: preserve-3d;
  perspective: 800px;
}
.loading .arc {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-bottom: 3px solid rgb(51, 153, 255);
}
.loading .arc:nth-child(1) {
  animation: rotate1 1.15s linear infinite;
}
.loading .arc:nth-child(2) {
  animation: rotate2 1.15s linear infinite;
}
.loading .arc:nth-child(3) {
  animation: rotate3 1.15s linear infinite;
}
.loading .arc:nth-child(1) {
  animation-delay: -0.8s;
}
.loading .arc:nth-child(2) {
  animation-delay: -0.4s;
}
.loading .arc:nth-child(3) {
  animation-delay: 0s;
}

@keyframes rotate1 {
  from {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0);
  }
  to {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(1turn);
  }
}
@keyframes rotate2 {
  from {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0);
  }
  to {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(1turn);
  }
}
@keyframes rotate3 {
  from {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0);
  }
  to {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(1turn);
  }
}
